body{
	
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: row;
	
}

.side{
	
	box-shadow: 0px 3px 5px #22005588;;
	width: 200px;
	padding: 10px;
	display: flex;
	align-content: space-around;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 3px;
	height: 300px;
	justify-items: baseline;
	background-color: white;
	
}

.side input{
	
	display: block;
	margin-top: 20px;

}

.side input[type="text"], [type="email"],[type="password"]{
	
	display: block;
	margin-top: 20px;
	border-style: none;
	border-bottom: solid #aa00ff22;
	text-align: center;

}

.side input[type="text"]:focus{
	box-shadow: 0px 2px 3px  gray inset;
	display: block;
	margin-top: 20px;
	border-style: none;
	

}

.side input[type="button"]{
	margin-top: 50px;
	color: white;
	background-color: blueviolet;
	border-style: none;
	width: 170px;
	padding: 5px;
	box-shadow: 0px 2px 3px #44009988;
	
}

::placeholder{
	text-align: center;
	color: #44004499;
}

.logout{
	
	position: absolute;
	right: 0px;
	top: 10px;
	color: white;
	background-color: blueviolet;
	border-style: none;
	width: 100px;
	padding: 5px;
	box-shadow: 0px 2px 3px #44009988;
	border-radius: 50px 0px 0px 50px;
}

.side p{
	
	margin-top: 20px;
}